* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comico', cursive;

}

body {
    background: linear-gradient(to right, purple, yellow);
    background-position: center;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.container-1 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 5px solid black;
    background-color: white;
    width: 400px;
    height: 600px;
    box-shadow: 15px 20px 1px 0px black;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
}


.container-1 img {
    width: 100px;
    height:100px;
}


[current-weather-data] {
    font-size: 2rem;
    color: black;
}

#search {
    width: 300px;
    height: 45px;
    outline: none;
    border: 3px solid black;
    padding: 7px;
    border-radius: 10px;

}

#search::placeholder {
    color: black;
}